.inside-div{
  margin-left: 2rem;
  margin-bottom: 1rem;

}
.inside-div-dev{
  margin-left: 2rem;
  margin-bottom: 1rem;
  display: flex;
}
#container{
  width: 80%;
  margin-left: 10%;

}
.right{
  width: 40%;
  display: flex;
}
.left{
  width: 60%;
}
.name{
  margin-left: 1rem;
}
ion-avatar{
  margin-top: 1rem;
}